RewriteEngine On
# The below 3 lines are used to remove params and just show them as a url, has regex to escape characters
RewriteRule ^county/([a-zA-Z0-9\s_-]+)$ county.php?id=$1 [L]
RewriteRule ^subcounty/([a-zA-Z0-9_-]+)$ subcounty.php?id=$1 [L]
RewriteRule ^constituency/([a-zA-Z0-9\s._-]+)$ product.php?id=$1 [L]
RewriteRule ^ward/([a-zA-Z0-9\s._-]+)$ ward.php?id=$1 [L]
# The below is used to remove the extensions in files i.e .html & .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
# used to reove index.php from url
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1 [L,QSA]

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s(.*)/index\.php [NC]
RewriteRule ^ %1 [R=301,L]

# disabling display of directories
Options -Indexes
# default error pages
ErrorDocument 403 /v1/403.php
ErrorDocument 404 /v1/404.php
ErrorDocument 500 /v1/500.php
ErrorDocument 503 /v1/503.php
